In [1]:
from pathlib import Path
import sys
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from data.paths.parquet_paths import CHECKIN

d:\Documents\ХНУРЭ\ДЗ\3 курс\1 семестр\MDMA\data-mining-in-cybersecurity

In [2]:
checkin_df = pd.read_parquet(str(CHECKIN))
checkin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  10000 non-null  object
 1   date         10000 non-null  object
dtypes: object(2)
memory usage: 156.4+ KB

### Variables - helpers

In [3]:
business_id = 'business_id'
date = 'date'

In [4]:
checkin_df.sample(1)

,business_id,date
3878,0P-8u5PJao-MddpiwDCLZQ,"2017-03-02 01:15:19, 2017-03-07 02:06:37, 2017..."