In [2]:
from pathlib import Path
import sys
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from data.paths.parquet_paths import LOWEST_RATINGS

In [3]:
df = pd.read_parquet(str(LOWEST_RATINGS))

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5011 entries, 0 to 5010
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   categories        5011 non-null   object
 1   avg_stars         5011 non-null   float64
 2   category_reviews  5011 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 117.6+ KB

In [5]:
df.describe()

         avg_stars  category_reviews
count  5011.000000       5011.000000
mean      3.887847         69.981241
std       0.944885        212.181061
min       1.000000          3.000000
25%       3.000000          6.000000
50%       4.000000         15.000000
75%       5.000000         54.000000
max       5.000000       4897.000000

In [6]:
#       avg_stars	category_reviews
# 25%	3.000000	    6.000000
df_quantile_lt_25perc = df.loc[
    (df['avg_stars'] < df['avg_stars'].quantile(0.25)) & 
    (df['category_reviews'] < df['category_reviews'].quantile(0.25))
].copy()

In [7]:
print(f"{df_quantile_lt_25perc.shape=}\n{df.shape=}")

df_quantile_lt_25perc.shape=(150, 3)
df.shape=(5011, 3)

In [8]:
df_quantile_lt_25perc = df_quantile_lt_25perc.sort_values(['avg_stars', 'category_reviews'], ascending=True)

In [9]:
df_quantile_lt_25perc[df_quantile_lt_25perc['categories'].str.contains('Urologists', regex=False)].to_string()

'                                                             categories  avg_stars  category_reviews\n6  [Beauty & Spas, Doctors, Health & Medical, Medical Spas, Urologists]        1.0                 3'