In [1]:
from pathlib import Path
import sys
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from data.paths.parquet_paths import TIP
from data.paths.parquet_paths import REVIEW

In [2]:
review_df = pd.read_parquet(str(REVIEW))
review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    100000 non-null  object
 1   user_id      100000 non-null  object
 2   business_id  100000 non-null  object
 3   stars        100000 non-null  float32
 4   date         100000 non-null  object
 5   text         100000 non-null  object
 6   useful       100000 non-null  int32
 7   funny        100000 non-null  int32
 8   cool         100000 non-null  int32
dtypes: float32(1), int32(3), object(5)
memory usage: 5.3+ MB

In [3]:
tip_df = pd.read_parquet(str(TIP))
tip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   text              100000 non-null  object
 1   date              100000 non-null  object
 2   compliment_count  100000 non-null  int32
 3   business_id       100000 non-null  object
 4   user_id           100000 non-null  object
dtypes: int32(1), object(4)
memory usage: 3.4+ MB

In [16]:
review_cut = review_df[['user_id', 'business_id', 'date', 'text', 'useful']]

tip_cut = tip_df[['user_id', 'business_id', 'date', 'text', 'compliment_count']]
tip_cut.columns = ['user_id', 'business_id', 'date', 'text', 'useful']

tips_and_reviews = pd.concat([review_cut, tip_cut])
tips_and_reviews['date'] = pd.to_datetime(tips_and_reviews['date'])

tips_and_reviews.sample(5)

,user_id,business_id,date,text,useful
46317,bRUJaKaXZo2-JVzSboDfCA,Lyq7ULam8T-ZddYLHq4DqA,2011-10-10 14:54:41,St. Louis here we come ;-),0
73156,TETPNyJfqqcHEcDRxD8xFQ,GI-CAiZ_Gg3h21PwrANB4Q,2014-07-01 00:00:00,I loved this restaurant as soon as we arrived....,2
36554,6gGRtiXRdUS2PbFlu2QmZQ,BIN_lwo-4Y441qdDljtdlw,2012-02-27 13:01:53,It's a great place to have ice cream. I love i...,0
91154,HtmDJiY9nciUZyBxvhOE1g,K7lWdNUhCbcnEvI0NhGewg,2016-06-03 20:55:50,It's my favorite place to dine!!,0
22322,4ECIXWllFTxtJaj1cKOZWw,Ep-SYYvdHJ9xnXy5B-OSMQ,2017-06-30 00:00:00,"This is the first West Elm in Phoenix, and it ...",9

In [ ]:
# usefullness of reviews, tips and combined