In [1]:
from pathlib import Path
import sys
import pandas as pd
import matplotlib.pyplot as plt
from data.paths.parquet_paths import USER
from pandas_setup.pandas_setup import get_parquet_pandas

In [6]:
user_df = get_parquet_pandas(str(USER))
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             10000 non-null  object
 1   name                10000 non-null  object
 2   review_count        10000 non-null  int64
 3   yelping_since       10000 non-null  object
 4   useful              10000 non-null  int64
 5   funny               10000 non-null  int64
 6   cool                10000 non-null  int64
 7   elite               10000 non-null  object
 8   friends             10000 non-null  object
 9   fans                10000 non-null  int64
 10  average_stars       10000 non-null  float64
 11  compliment_hot      10000 non-null  int64
 12  compliment_more     10000 non-null  int64
 13  compliment_profile  10000 non-null  int64
 14  compliment_cute     10000 non-null  int64
 15  compliment_list     10000 non-null  int64
 16  compliment_note     10000 non-null  int64
 17  compliment_plain    10000 non-null  int64
 18  compliment_cool     10000 non-null  int64
 19  compliment_funny    10000 non-null  int64
 20  compliment_writer   10000 non-null  int64
 21  compliment_photos   10000 non-null  int64
dtypes: float64(1), int64(16), object(5)
memory usage: 1.7+ MB

### Variables - helpers

In [ ]:
user_id = 'user_id'
name = 'name'
review_count = 'review_count'
yelping_since = 'yelping_since'
useful = 'useful'
funny = 'funny'
cool = 'cool'
elite = 'elite'
friends = 'friends'
fans = 'fans'
average_stars = 'average_stars'
compliment_hot = 'compliment_hot'
compliment_more = 'compliment_more'
compliment_profile = 'compliment_profile'
compliment_cute = 'compliment_cute'
compliment_list = 'compliment_list'
compliment_note = 'compliment_note'
compliment_plain = 'compliment_plain'
compliment_cool = 'compliment_cool'
compliment_funny = 'compliment_funny'
compliment_writer = 'compliment_writer'
compliment_photos = 'compliment_photos'

In [7]:
user_df.sample(1)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
3859,UyIY70WUem0Ka3o0Hjqtqw,James,721,2007-12-17 03:05:10,795,241,353,"2012,2013,2014,2015,2016,2017,2018","TE9o4cWvNXg5IYcjAwI5hg, ZnIyWf4CMcHA3d-ZTEKc5g...",15,...,3,0,0,1,16,8,22,22,9,3