In [1]:
from pathlib import Path
import sys
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from data.paths.parquet_paths import WIFI_BUSINESSES

In [2]:
df = pd.read_parquet(str(WIFI_BUSINESSES))

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1748 entries, 0 to 1747
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  1748 non-null   object
 1   name         1748 non-null   object
 2   free_wifi    1748 non-null   bool
dtypes: bool(1), object(2)
memory usage: 29.1+ KB

In [11]:
df.sample(5)

                 business_id                   name  free_wifi
1641  tBxQY2_XBcoqwPayyaB9sg             Membercuts       True
380   Fif1uzIU95ttv6kbtRg0ZA  Good China Restaurant       True
87    21aN-c-5CjugDRiSdjrH3g             JDs Lounge       True
623   HGuHk935tyokX6kveEviJw          Mekong Palace       True
386   6FeAeooUDp5z6PeGqmHz8w      The Alley Bur Oak       True

In [17]:
df['free_wifi'].value_counts()

True     1695
False      53
Name: free_wifi, dtype: int64